@import "../../../../../../../global_styles/variables.scss";

.chapters-list {
  display: flex;
  justify-content: center;

  height: calc(100vh - #{$navbar-height});

  overflow: scroll;
}
.chapter-card {
  background: $card-bg;
  margin: 3rem;
}

.char-card {
  background: $card-bg;

  margin: 1rem;
  padding-bottom: 0;

  width: 15rem;

  &__avatar {
    @include profile-pic;
    width: 3.125rem;
    height: 3.125rem;
  }
}

.char-card-container {
  display: flex;
  flex-wrap: wrap;
}
