@import "../../../../../global_styles/variables.scss";

.characters-menu {
  display: flex;
  flex-direction: column;
  justify-content: left;

  width: 13rem;
  height: calc(100vh - #{$navbar-height});

  color: rgb(155, 155, 155);

  overflow-y: scroll;
  background: #1d1d1d;

  &__item {
    border-bottom: 1px rgb(58, 58, 58) solid;
    padding: 0.5rem;

    white-space: nowrap;
    text-overflow: ellipsis;

    transition: 0.2s;

    font-size: 0.8rem;

    cursor: pointer;

    &:hover {
      color: white;
    }
  }
}

.router-link-active {
  background: black;
  color: grey;
  pointer-events: none;
}
