<mat-horizontal-stepper linear="false" #stepper class="stepper">
  <mat-step [stepControl]="personalInfoForm">
    <form [formGroup]="personalInfoForm" class="character-modify-form">
      <ng-template matStepLabel>Podstawowe dane</ng-template>
      <mat-form-field>
        <mat-label>Imię</mat-label>
        <input matInput placeholder="Imię postaci" [formControlName]="'name'" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nazwisko</mat-label>
        <input matInput placeholder="Nazwisko postaci" [formControlName]="'surname'" required>
      </mat-form-field>

      <label id="gender-radio-group">Płeć</label>
      <mat-radio-group formControlName="gender" aria-labelledby="gender-radio-group">
        <ng-container *ngFor="let gen of Gender | enumVal">
          <mat-radio-button class="example-margin" [value]="gen.value" name="gender">
            <span class="gender-icon">
              <app-icon [color]="gen.value === 'MALE' ? '#89cff0' : '#FFC0CB'" [icon]="gen.value | lowercase"
                [size]="'1.2'">
              </app-icon>
            </span>
          </mat-radio-button>
        </ng-container>
      </mat-radio-group>
      <div>
        <button mat-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="addidionalPersonalInfoForm">
    <form [formGroup]="addidionalPersonalInfoForm" class="character-modify-form">
      <ng-template matStepLabel>Dodatkowe dane osobowe</ng-template>
      <mat-form-field>
        <mat-label>Pseudonim</mat-label>
        <input matInput placeholder="Pseudonim" [formControlName]="'pseudonim'">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Zawód</mat-label>
        <input matInput placeholder="Czym się zajmuje?" [formControlName]="'profession'">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Data urodzenia</mat-label>
        <input matInput [matDatepicker]="birthday" [formControlName]="'birthday'">
        <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
        <mat-datepicker #birthday></mat-datepicker>
      </mat-form-field>

      <mat-slide-toggle (change)="toggleIsDead()">Czy postać nie żyje?</mat-slide-toggle>

      <mat-form-field>
        <mat-label>Data śmierci</mat-label>
        <input matInput [matDatepicker]="death" [formControlName]="'death'">
        <mat-datepicker-toggle matSuffix [for]="death"></mat-datepicker-toggle>
        <mat-datepicker #death></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Powód śmierci</mat-label>
        <input matInput placeholder="Powód śmierci" [formControlName]="'deathReason'">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Narodowość</mat-label>
        <mat-select formControlName="nationality">
          <mat-option *ngFor="let country of countries" [value]="country.alpha2Code">
            <img [src]="country.flag" class="flag">
            {{country.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Wcześniej</button>
        <button mat-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="temperamentForm">
    <form [formGroup]="temperamentForm" class="character-modify-form">
      <ng-template matStepLabel>Temperament</ng-template>
      <mat-label>Melancholizm</mat-label>
      <mat-slider class="temperament-range" thumbLabel step="5" tickInterval="5" formControlName="melancholic">
      </mat-slider>

      <mat-label>Sangwinizm</mat-label>
      <mat-slider class="temperament-range" thumbLabel step="5" tickInterval="5" formControlName="sanguine">
      </mat-slider>

      <mat-label>Flegmatyzm</mat-label>
      <mat-slider class="temperament-range" thumbLabel step="5" tickInterval="5" formControlName="flegmatic">
      </mat-slider>

      <mat-label>Choleryzm</mat-label>
      <mat-slider class="temperament-range" thumbLabel step="5" tickInterval="5" formControlName="choleric">
      </mat-slider>

      <div>
        <button mat-button matStepperPrevious>Wcześniej</button>
        <button mat-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="colorForm">
    <form [formGroup]="colorForm" class="character-modify-form">
      <ng-template matStepLabel>Kolory</ng-template>

      <div>
        <mat-form-field>
          <mat-label>Motyw kolorystyczny 1</mat-label>
          <input matInput type="color" formControlName="themeColor1">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Motyw kolorystyczny 2</mat-label>
          <input matInput type="color" formControlName="themeColor2">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Motyw kolorystyczny 3</mat-label>
          <input matInput type="color" formControlName="themeColor3">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Kolor oczu 1</mat-label>
          <input matInput type="color" formControlName="eyeColor1">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Kolor oczu 2</mat-label>
          <input matInput type="color" formControlName="eyeColor2">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Kolor włosów</mat-label>
          <input matInput type="color" formControlName="hairColor">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Kolor skóry</mat-label>
          <input matInput type="color" formControlName="skinColor">
        </mat-form-field>
      </div>

      <div>
        <button mat-button matStepperPrevious>Wcześniej</button>
        <button mat-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="measurementsForm">
    <form [formGroup]="measurementsForm" class="character-modify-form">
      <ng-template matStepLabel>Waga i wzrost</ng-template>

      <div>
        <mat-form-field>
          <mat-label>Wzrost jako niemowlę (0-3):</mat-label>
          <input matInput type="number" min="30" max="200" formControlName="babyHeight">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Wzrost jako dziecko (4-11):
          </mat-label>
          <input matInput type="number" min="30" max="200" formControlName="childHeight">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Wzrost jako nastolatek (12-19):
          </mat-label>
          <input matInput type="number" min="30" max="200" formControlName="teenHeight">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Wzrost jako dorosły (20+):
          </mat-label>
          <input matInput type="number" min="30" max="200" formControlName="adultHeight">
        </mat-form-field>
      </div>


      <div>
        <mat-form-field>
          <mat-label>Waga jako niemowlę (0-3):</mat-label>
          <input matInput type="number" min="1" max="150" formControlName="babyWeight">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Waga jako dziecko (4-11):
          </mat-label>
          <input matInput type="number" min="1" max="150" formControlName="childWeight">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Waga jako nastolatek (12-19):
          </mat-label>
          <input matInput type="number" min="1" max="150" formControlName="teenWeight">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Waga jako dorosły (20+):
          </mat-label>
          <input matInput type="number" min="1" max="150" formControlName="adultWeight">
        </mat-form-field>
      </div>

      <div>
        <button mat-button matStepperPrevious>Wcześniej</button>
        <button mat-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Koniec</ng-template>
    <form class="character-modify-form">
      <p>Naciśnij przycisk "Wyślij", żeby zatwierdzić zmiany.</p>
      <div>
        <button mat-button matStepperPrevious>Wcześniej</button>
        <button mat-button (click)="submit()" [disabled]="personalInfoForm.invalid">Wyślij</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
