<ng-container [ngSwitch]="icon">
  <svg *ngSwitchCase="'warning'" [attr.fill]="color" [attr.transform]="size" xmlns="http://www.w3.org/2000/svg"
    width="24" height="24" viewBox="0 0 24 24">
    <path
      d="M12 0l-12 12 12 12 12-12-12-12zm-1 6h2v8h-2v-8zm1 12.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z" />
  </svg>

  <svg *ngSwitchCase="'new-character'" [attr.fill]="color" [attr.transform]="size" xmlns="http://www.w3.org/2000/svg"
    width="24" height="24" viewBox="0 0 24 24">
    <path
      d="M19.5 15c-2.483 0-4.5 2.015-4.5 4.5s2.017 4.5 4.5 4.5 4.5-2.015 4.5-4.5-2.017-4.5-4.5-4.5zm2.5 5h-2v2h-1v-2h-2v-1h2v-2h1v2h2v1zm-7.18 4h-14.815l-.005-1.241c0-2.52.199-3.975 3.178-4.663 3.365-.777 6.688-1.473 5.09-4.418-4.733-8.729-1.35-13.678 3.732-13.678 6.751 0 7.506 7.595 3.64 13.679-1.292 2.031-2.64 3.63-2.64 5.821 0 1.747.696 3.331 1.82 4.5z" />
  </svg>

  <svg *ngSwitchCase="'new-chars'" [attr.fill]="color" [attr.transform]="size" xmlns="http://www.w3.org/2000/svg"
    width="24" height="24" viewBox="0 0 24 24">
    <path
      d="M.002 20h6.001c-.028-6.542 2.995-3.697 2.995-8.901 0-2.009-1.311-3.099-2.998-3.099-2.492 0-4.226 2.383-1.866 6.839.775 1.464-.825 1.812-2.545 2.209-1.49.344-1.589 1.072-1.589 2.333l.002.619zm20.498-7c-1.932 0-3.5 1.567-3.5 3.5s1.568 3.5 3.5 3.5 3.5-1.567 3.5-3.5-1.568-3.5-3.5-3.5zm1.5 4h-1v1h-1v-1h-1v-1h1v-1h1v1h1v1zm-4.814 3h-9.183l-.003-.829c0-1.679.133-2.649 2.118-3.107 2.243-.518 4.458-.981 3.394-2.945-3.156-5.82-.901-9.119 2.488-9.119 4.06 0 4.857 4.119 3.085 7.903-1.972.609-3.419 2.428-3.419 4.597 0 1.38.589 2.619 1.52 3.5z" />
  </svg>

  <svg *ngSwitchCase="'face'" [attr.fill]="color" [attr.transform]="size" xmlns="http://www.w3.org/2000/svg" width="24"
    height="24" viewBox="0 0 24 24">
    <path
      d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm5.508 13.941c-1.513 1.195-3.174 1.931-5.507 1.931-2.335 0-3.996-.736-5.509-1.931l-.492.493c1.127 1.72 3.2 3.566 6.001 3.566 2.8 0 4.872-1.846 5.999-3.566l-.492-.493zm.492-3.939l-.755.506s-.503-.948-1.746-.948c-1.207 0-1.745.948-1.745.948l-.754-.506c.281-.748 1.205-2.002 2.499-2.002 1.295 0 2.218 1.254 2.501 2.002zm-7 0l-.755.506s-.503-.948-1.746-.948c-1.207 0-1.745.948-1.745.948l-.754-.506c.281-.748 1.205-2.002 2.499-2.002 1.295 0 2.218 1.254 2.501 2.002z" />
  </svg>

  <svg *ngSwitchCase="'hair'" [attr.fill]="color" [attr.transform]="size" xmlns="http://www.w3.org/2000/svg" width="26"
    height="24" viewBox="0 0 26 24">
    <path
      d="M17.5 12.5c0 .828-.56 1.5-1.25 1.5s-1.25-.672-1.25-1.5.56-1.5 1.25-1.5 1.25.672 1.25 1.5zm-7.75-1.5c-.69 0-1.25.672-1.25 1.5s.56 1.5 1.25 1.5 1.25-.672 1.25-1.5-.56-1.5-1.25-1.5zm3.25 8.354c2.235 0 3-2.354 3-2.354h-6s.847 2.354 3 2.354zm13 3.639c-2.653 1.714-5.418 1.254-6.842-1.488-1.672 1.505-3.706 2.487-6.158 2.487-2.53 0-4.517-.91-6.184-2.445-1.431 2.702-4.178 3.15-6.816 1.446 4.375-1.75-2.729-11.813 4.104-19.375 2.282-2.525 5.472-3.618 8.896-3.618s6.614 1.093 8.896 3.618c6.833 7.562-.271 17.625 4.104 19.375zm-5.668-6.111c.122-.202.312-.354.535-.43 2.447-.828 2.554-4.361 1.554-5.012-.235-.152-.531-.115-.672-.053-.664.295-1.406-.194-1.406-.914 0-.471-.034-1.001-.096-1.473h-10.101c-.813-1.021-.771-2.945-.396-4.57-.903.982-1.693 3.249-1.875 4.57h-2.121c-.062.472-.096 1.002-.096 1.473 0 .72-.742 1.209-1.406.914-.141-.062-.436-.1-.672.053-1 .651-.893 4.184 1.554 5.012.224.076.413.228.535.43 1.709 2.829 4.015 5.111 7.332 5.111 3.316 0 5.623-2.283 7.331-5.111z" />
  </svg>

  <svg *ngSwitchCase="'clothing'" width="24" height="24" [attr.fill]="color" [attr.transform]="size"
    xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
    <path
      d="M19 24h-14v-16l-2 1.084-3-3.612 6-5.472h12l6 5.505-3 3.647-2-1.152v16zm-11-23h8c-.365 1.846-1.792 3.5-4 3.5s-3.635-1.708-4-3.5z" />
  </svg>

  <svg *ngSwitchCase="'eye'" [attr.fill]="color" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
    [attr.transform]="size" viewBox="0 0 24 24">
    <path
      d="M12.015 7c4.751 0 8.063 3.012 9.504 4.636-1.401 1.837-4.713 5.364-9.504 5.364-4.42 0-7.93-3.536-9.478-5.407 1.493-1.647 4.817-4.593 9.478-4.593zm0-2c-7.569 0-12.015 6.551-12.015 6.551s4.835 7.449 12.015 7.449c7.733 0 11.985-7.449 11.985-7.449s-4.291-6.551-11.985-6.551zm-.015 7l-3.36-2.171c-.405.625-.64 1.371-.64 2.171 0 2.209 1.791 4 4 4s4-1.791 4-4-1.791-4-4-4c-.742 0-1.438.202-2.033.554l2.033 3.446z" />
  </svg>

  <svg *ngSwitchCase="'unknown'" [attr.fill]="color" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
    [attr.transform]="size" viewBox="0 0 24 24">
    <path
      d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 18.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25c.691 0 1.25.56 1.25 1.25s-.559 1.25-1.25 1.25zm1.961-5.928c-.904.975-.947 1.514-.935 2.178h-2.005c-.007-1.475.02-2.125 1.431-3.468.573-.544 1.025-.975.962-1.821-.058-.805-.73-1.226-1.365-1.226-.709 0-1.538.527-1.538 2.013h-2.01c0-2.4 1.409-3.95 3.59-3.95 1.036 0 1.942.339 2.55.955.57.578.865 1.372.854 2.298-.016 1.383-.857 2.291-1.534 3.021z" />
  </svg>

  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" version="1.1" id="svg3725"
    *ngSwitchCase="'book'" [attr.fill]="color" [attr.transform]="size">

    <defs id="defs3729" />
    <g id="layer2">
      <rect y="1.5148515" x="3.4158416" height="6.2673268" width="18.653465" id="rect3735" style="fill:#ffffff" />
    </g>
    <g id="layer1">
      <path id="path3723"
        d="M5.495 4c-1.375 0-1.375-2 0-2h16.505v-2h-17c-1.657 0-3 1.343-3 3v18c0 1.657 1.343 3 3 3h17v-20h-16.505z"
        style="" />
    </g>

  </svg>

  <svg *ngSwitchCase="'story'" [attr.fill]="color" [attr.transform]="size" xmlns="http://www.w3.org/2000/svg" width="24"
    height="24" viewBox="0 0 24 24">
    <path
      d="M7 1h17v2h-17v-2zm0 7h17v-2h-17v2zm0 5h17v-2h-17v2zm0 5h17v-2h-17v2zm0 5h17v-2h-17v2zm-5.511-16h1.353v-6h-1.14c0 .91-.809 1.07-1.702 1.111v1h1.489v3.889zm2.433 6.667h-1.827c.823-.74 1.722-1.627 1.722-2.782 0-1.145-.762-1.885-1.941-1.885-.642 0-1.288.204-1.833.656l.423 1.148c.352-.279.715-.524 1.167-.524.486 0 .754.255.754.717-.008.774-.858 1.527-2.387 3.018v.958h3.922v-1.306zm-.87 6.124c.499-.266.771-.715.771-1.288 0-.748-.568-1.503-1.836-1.503-.571 0-1.241.142-1.74.482l.307 1.161c.432-.284.831-.394 1.15-.394.428 0 .674.174.674.478 0 .425-.52.538-.827.538h-.577v1.154h.601c.438 0 .949.183.949.701 0 .39-.329.633-.86.633-.451 0-.887-.163-1.282-.397l-.304 1.2c.5.322 1.11.444 1.675.444 1.344 0 2.247-.728 2.247-1.812 0-.646-.371-1.178-.948-1.397z" />
  </svg>

  <svg *ngSwitchCase="'character'" [attr.fill]="color" [attr.transform]="size" xmlns="http://www.w3.org/2000/svg"
    width="24" height="24" viewBox="0 0 24 24">
    <path
      d="M20.822 18.096c-3.439-.794-6.64-1.49-5.09-4.418 4.72-8.912 1.251-13.678-3.732-13.678-5.082 0-8.464 4.949-3.732 13.678 1.597 2.945-1.725 3.641-5.09 4.418-3.073.71-3.188 2.236-3.178 4.904l.004 1h23.99l.004-.969c.012-2.688-.092-4.222-3.176-4.935z" />
  </svg>

  <svg *ngSwitchCase="'edit'" [attr.fill]="color" [attr.transform]="size" xmlns="http://www.w3.org/2000/svg" width="24"
    height="24" viewBox="0 0 24 24">
    <path
      d="M1.438 16.872l-1.438 7.128 7.127-1.438 12.642-12.64-5.69-5.69-12.641 12.64zm2.271 2.253l-.85-.849 11.141-11.125.849.849-11.14 11.125zm20.291-13.436l-2.817 2.819-5.69-5.691 2.816-2.817 5.691 5.689z" />
  </svg>

  <svg *ngSwitchCase="'male'" [attr.fill]="color" [attr.transform]="size" xmlns="http://www.w3.org/2000/svg" width="24"
    height="24" viewBox="0 0 24 24">
    <path
      d="M16 2v2h3.586l-3.972 3.972c-1.54-1.231-3.489-1.972-5.614-1.972-4.97 0-9 4.03-9 9s4.03 9 9 9 9-4.03 9-9c0-2.125-.741-4.074-1.972-5.614l3.972-3.972v3.586h2v-7h-7zm-6 20c-3.86 0-7-3.14-7-7s3.14-7 7-7 7 3.14 7 7-3.14 7-7 7z" />
  </svg>

  <svg *ngSwitchCase="'female'" [attr.fill]="color" [attr.transform]="size" xmlns="http://www.w3.org/2000/svg"
    width="24" height="24" viewBox="0 0 24 24">
    <path
      d="M21 9c0-4.97-4.03-9-9-9s-9 4.03-9 9c0 4.632 3.501 8.443 8 8.941v2.059h-3v2h3v2h2v-2h3v-2h-3v-2.059c4.499-.498 8-4.309 8-8.941zm-16 0c0-3.86 3.14-7 7-7s7 3.14 7 7-3.14 7-7 7-7-3.14-7-7z" />
  </svg>

  <svg *ngSwitchCase="'edit-picture'" [attr.fill]="color" [attr.transform]="size" xmlns="http://www.w3.org/2000/svg"
    width="24" height="24" viewBox="0 0 24 24">
    <path
      d="M15.562 20.22l-3.562.718.719-3.562 2.843 2.844zm-2.136-3.552l2.844 2.845 7.73-7.73-2.845-2.845-7.729 7.73zm-2.91.332l4.51-4.76-2.026-3.24-2.52 4-2.48-1.96-4 5.96h6.516zm-3.516-8.5c0-.828-.672-1.5-1.5-1.5s-1.5.672-1.5 1.5c0 .829.672 1.5 1.5 1.5s1.5-.671 1.5-1.5zm3.352 10.5h-8.352v-14h18v2.312h2v-4.312h-22v18h9.969l.383-2z" />
  </svg>


  <svg *ngSwitchCase="'non-archive'" [attr.fill]="color" [attr.transform]="size" xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24" height="24" width="24">
    <defs id="defs26" />
    <g style="display:inline" id="layer1">
      <ellipse ry="10.440594" rx="10.455445" cy="12.044554" cx="11.287128" id="path32"
        style="display:inline;fill:#ffffff;stroke-width:1.19155145" />
    </g>
    <g style="display:inline" id="layer2">
      <path id="path20"
        d="M 12,0 C 5.373,0 0,5.373 0,12 0,18.627 5.373,24 12,24 18.627,24 24,18.627 24,12 24,5.373 18.627,0 12,0 Z m -1.25,17.292 -4.5,-4.364 1.857,-1.858 2.643,2.506 5.643,-5.784 1.857,1.857 z" />
    </g>
  </svg>

  <svg *ngSwitchCase="'archive'" [attr.fill]="color" [attr.transform]="size" xmlns="http://www.w3.org/2000/svg"
    width="24" height="24" viewBox="0 0 24 24">
    <defs id="defs26" />
    <g style="display:inline;opacity:1" id="layer1">
      <ellipse ry="7.1881189" rx="6.207921" cy="12" cx="11.851485" id="path33" style="fill:#ffffff" />
      <ellipse ry="8.5247526" rx="8.1386137" cy="11.851485" cx="11.940594" id="path38" style="fill:#ffffff" />
    </g>
    <g style="display:inline" id="layer2">
      <path id="path20"
        d="m 11.940594,0 c -6.627,0 -11.99999994,5.373 -11.99999994,12 0,6.627 5.37299994,12 11.99999994,12 6.627,0 12,-5.373 12,-12 0,-6.627 -5.373,-12 -12,-12 z m 4.151,17.943 -4.143,-4.102 -4.117,4.159 -1.833,-1.833 4.104,-4.157 -4.162,-4.119 1.833,-1.833 4.155,4.102 4.106,-4.16 1.849,1.849 -4.1,4.141 4.157,4.104 z" />
    </g>
  </svg>

  <svg *ngSwitchCase="'x'" [attr.fill]="color" [attr.transform]="size" xmlns="http://www.w3.org/2000/svg" width="24"
    height="24" viewBox="0 0 24 24">
    <path
      d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z" />
  </svg>

  <svg *ngSwitchCase="'quote'" [attr.fill]="color" [attr.transform]="size" xmlns="http://www.w3.org/2000/svg" width="24"
    height="24" viewBox="0 0 24 24">
    <path
      d="M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z" />
  </svg>

  <svg *ngSwitchCase="'plus'" [attr.fill]="color" [attr.transform]="size" xmlns="http://www.w3.org/2000/svg" width="24"
    height="24" viewBox="0 0 24 24">
    <path
      d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z" />
  </svg>

  <svg *ngSwitchCase="'branch'" [attr.fill]="color" [attr.transform]="size" xmlns="http://www.w3.org/2000/svg"
    width="24" height="24" viewBox="0 0 24 24">
    <path
      d="M21 3c0-1.657-1.343-3-3-3s-3 1.343-3 3c0 1.323.861 2.433 2.05 2.832.168 4.295-2.021 4.764-4.998 5.391-1.709.36-3.642.775-5.052 2.085v-7.492c1.163-.413 2-1.511 2-2.816 0-1.657-1.343-3-3-3s-3 1.343-3 3c0 1.305.837 2.403 2 2.816v12.367c-1.163.414-2 1.512-2 2.817 0 1.657 1.343 3 3 3s3-1.343 3-3c0-1.295-.824-2.388-1.973-2.808.27-3.922 2.57-4.408 5.437-5.012 3.038-.64 6.774-1.442 6.579-7.377 1.141-.425 1.957-1.514 1.957-2.803zm-16.8 0c0-.993.807-1.8 1.8-1.8s1.8.807 1.8 1.8-.807 1.8-1.8 1.8-1.8-.807-1.8-1.8zm3.6 18c0 .993-.807 1.8-1.8 1.8s-1.8-.807-1.8-1.8.807-1.8 1.8-1.8 1.8.807 1.8 1.8zm10.2-16.2c-.993 0-1.8-.807-1.8-1.8s.807-1.8 1.8-1.8 1.8.807 1.8 1.8-.807 1.8-1.8 1.8z" />
  </svg>

</ng-container>


<!-- all icons by: https://iconmonstr.com/ -->
