<div class="quotes">
  <div class="quotes__container quotes__container--form">
    <form class="quotes__new-quote-form new-quote-form" [formGroup]="newQuoteForm">
      <h2>Uzupełnij poniższe pola, aby dodać nowy cytat:</h2>
      <mat-form-field>
        <mat-label>Treść cytatu</mat-label>
        <textarea matInput required maxlength="2000" spellcheck="false" formControlName="quote"
          class="new-quote-form__textarea"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Kontekst cytatu</mat-label>
        <input matInput type="text" formControlName="context" />
      </mat-form-field>

      <button mat-raised-button color="accent" [disabled]="newQuoteForm.invalid" (click)="createNewQuote()">
        <mat-icon>library_add</mat-icon>Dodaj cytat
      </button>
    </form>
  </div>


  <div *ngIf="quotes?.length > 0" class="quotes-list">

    <mat-card *ngFor="let quote of quotes" class="quote-card">
      <mat-card-content class="quote" #quoteContainer>
        <q class="quote__quote" spellcheck="false" #quoteEl>{{quote.quote}}</q>
        <cite class="quote__context" spellcheck="false" #contextEl>{{quote.context}}</cite>
      </mat-card-content>
      <mat-card-actions>
        <div class="buttons-box">
          <button mat-mini-fab color="warn" (click)="insertDeleteInfo()" (dblclick)="deleteQuote(quote.id)"
            matTooltip="Usuń cytat">
            <mat-icon>delete</mat-icon>
          </button>

          <button mat-mini-fab matTooltip="Edytuj cytat"
            (click)="editQuote(quote.id, quoteEl, contextEl, quoteContainer)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngIf="quotes?.length === 0" style="margin-top: 1rem">
    Podana postać nie ma żadnych cytatów.
  </div>
</div>
