@import "../../../../../global_styles/variables.scss";

.quotes {
  height: calc(100vh - #{$navbar-height});
  overflow-x: scroll;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__new-quote-form {
    display: flex;
    flex-direction: column;
  }

  &__new-quote-form {
    width: 21.875rem;

    font-size: initial;
  }

  &__label {
    display: flex;
    flex-direction: column;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &--form {
      display: flex;
      justify-content: center;
    }
  }
}

.quote {
  display: flex;
  flex-direction: column;

  width: 15.625rem;

  transition: 0.2s;

  &--editable {
    border: 1px white dashed;
    padding: 1rem;

    background: #ffffff59;

    color: black;
  }
  &__quote {
    padding: 1rem;

    font-size: 0.9rem;

    &[contenteditable] {
      outline: none;
    }
  }
  &__context {
    margin-left: auto;
    margin-right: 1rem;

    color: $primary;

    &[contenteditable] {
      outline: none;
      color: $accent;
      font-weight: bold;
    }

    &::before {
      content: "~ ";
    }
  }
}

// new

.quotes-list {
  display: flex;
  flex-wrap: wrap;

  align-items: flex-end;
}

.quote-card {
  margin: 0.5rem;
  background: $card-bg;
}

.buttons-box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.new-quote-form {
  &__textarea {
    resize: vertical;

    min-height: 3rem;
    max-height: 10rem;
  }
}
