<article *ngIf="books?.length > 0" class="books">
  <div class="new-book-form-container">
    <form class="new-book-form" [formGroup]="form">
      <mat-form-field>
        <mat-label>Nazwa szkicownika</mat-label>
        <input matInput placeholder="Np. różowy szkicownik" formControlName="bookName">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Kolor szkicownika</mat-label>
        <input matInput type="color" formControlName="bookColor">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ikonka szkicownika:</mat-label>
        <mat-select formControlName="icon">
          <mat-option [value]="null">Bez ikonki</mat-option>
          <mat-option *ngFor="let icon of AvailableIcons  | enumVal" [value]="icon.value">
            {{icon.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary" (click)="createNewBook()" [disabled]="form.invalid" style="margin-right: 1rem;
        ">
          <mat-icon>library_add</mat-icon>
          Dodaj szkicownik
        </button>

        <button mat-raised-button color="accent" (click)="editBook()" [disabled]="!editMode">
          <mat-icon>edit</mat-icon>
          Edytuj szkicownik
        </button>
      </div>
    </form>



    <div class="preview-box">
      <span>Podgląd</span>
      <div class="preview">
        <app-book-icon [icon]="form.controls['icon'].value" [color]="form.controls['bookColor'].value" [size]='5'>
        </app-book-icon>

      </div>
    </div>
  </div>
  <div cdkDropList class="boundary books-container" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let book of books; index as i" cdkDrag cdkDragBoundary=".boundary">
      <mat-card class="book-card">
        <mat-card-header>
          <mat-card-title class="book-card__header">{{book.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-book-icon [icon]="book.icon" [color]="book.color" [size]='3' [number]='i+1'></app-book-icon>
        </mat-card-content>
        <mat-card-actions class="book-card__buttons-container">
          <button mat-mini-fab color="warn" (click)="insertDeleteInfo()" (dblclick)="deleteBook(book.id)"
            matTooltip="Usuń szkicownik">
            <mat-icon>delete_forever</mat-icon>
          </button>
          <button mat-mini-fab color="primary" (click)="enableEditForm(book)" matTooltip="Edytuj szkicownik">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="primary" matTooltip="Lista części" [routerLink]="['./edit-chapters']"
            [queryParams]="{
          id: book.id
        }">
            <mat-icon>library_books</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>


</article>