@import "../../../../../global_styles/variables.scss";

.character-images {
  height: calc(100vh - #{$navbar-height});
}

.edit-main-pic-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-subitems-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;

  width: 100%;
}

.profile-pic {
  @include profile-pic;
}

.profile-pic-container {
  display: flex;
  flex-direction: column;
}

.profile-pic-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: $card-bg;
}

.profile-pic-name {
  transition: 0.3s;
  &--editable {
    transition: 0.3s;

    font-size: larger;
    font-weight: bold;
  }
}

.images-list {
  display: flex;
  flex-wrap: wrap;
}

.images-container {
  width: 50%;
}

.image-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0.5rem;

  background: $card-bg;
}

.image-preview-card {
  width: fit-content;

  margin: 0.5rem;

  background: $card-bg;
}

.image-preview {
  max-height: 5rem;
  max-width: 5rem;
}

.image-previews-container {
  display: flex;
  flex-wrap: wrap;
}
