@import "../../../../global_styles/variables.scss";

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;

  box-sizing: border-box;
  margin: 0;
  padding: 1rem 0;
  border-bottom: 1px white solid;

  background: rgb(20, 20, 20);
  z-index: map-get($z-index, navbar);

  &__item {
    margin: 0 2rem;

    &--active {
      color: rgb(92, 92, 92);
    }

    &--user {
      margin-left: auto;
      margin-right: 2rem;
    }
  }
}

.title {
  @include font-special;

  text-transform: none;
  &:checked {
    text-decoration: none;
  }
}
