<ul class="navbar">
  <li class="navbar__item">
    <a [routerLink]="['/main']">
      <button class="title" mat-button>
        <div style="display: flex;">
          <img src="../../../../../assets/svg/rdest.svg" style="margin-right: 1rem;">
          Alea iacta est
        </div>

      </button>
    </a>
  </li>

  <li class="navbar__item">
    <a [routerLink]="['/char-cards']" routerLinkActive="navbar__item--active">
      <button mat-button>Postacie</button>
    </a>
  </li>

  <li class="navbar__item">
    <a [routerLink]="['/pages']" routerLinkActive="navbar__item--active">
      <button mat-button>Części</button>
    </a>
  </li>

  <li class="navbar__item">
    <a [routerLink]="['/statistics']" routerLinkActive="navbar__item--active">
      <button mat-button>Statystyki</button>
    </a>
  </li>

  <li class="navbar__item--user">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon svgIcon="user"></mat-icon>
      {{ (_authService.loggedUser$ | async) ? ((_authService.loggedUser$ | async).username) : "niezalogowany" }}
    </button>
  </li>
  <mat-menu #menu="matMenu">

    <a [routerLink]="['/admin-panel']">
      <button mat-menu-item *ngIf="(_authService.loggedUser$ | async) && (_authService.loggedUser$ | async).username">
        Panel admina - postacie
      </button>
    </a>
    <a [routerLink]="['/edit-story-panel']">
      <button mat-menu-item *ngIf="(_authService.loggedUser$ | async) && (_authService.loggedUser$ | async).username">
        Panel admina - części
      </button>
    </a>
    <a [routerLink]="['/login']">
      <button mat-menu-item *ngIf="!(_authService.loggedUser$ | async)">
        <mat-icon svgIcon="log-in"></mat-icon>
        Zaloguj się
      </button>
    </a>
    <button mat-menu-item (click)="logout()"
      *ngIf="(_authService.loggedUser$ | async) && (_authService.loggedUser$ | async).username">
      <mat-icon svgIcon="log-out"></mat-icon>
      Wyloguj się
    </button>
  </mat-menu>
</ul>
