<div [ngSwitch]="type">
  <div *ngSwitchCase="'new'" class="relationship">
    <form [formGroup]="relationForm">
      <div class="relationship-form__container">

        <div class="relationship-form__box">
          <span>Postać 1:</span>
          <mat-form-field>
            <input matInput formControlName="firstChar" spellcheck="false" [matAutocomplete]="auto"
              placeholder="Postać 1" class="relationship-box__input" />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let char of filteredCharacters | async" [value]="char.fullName" class="option">
                <img *ngIf="char.profilePic"
                  [src]="'data:image/' + char.profilePic?.extension + ';base64, ' + char.profilePic?.image | sanitizer"
                  class="option__image">
                <span>{{char.fullName}}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="secondChar" placeholder="Postać 2" class="relationship-box__input" />
          </mat-form-field>
        </div>
        <div class="relationship-form__box">
          <span>Kim jest postać 1:</span>

          <mat-form-field>
            <mat-select formControlName="reverseRelation" class=" relationship-box__input">
              <mat-option *ngFor="let type of RelationshipType | enumVal" [value]="type.key">
                {{type.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <span>Kim jest postać 2:</span>
          <mat-form-field>
            <mat-select formControlName="relation" class=" relationship-box__input">
              <mat-option *ngFor="let type of RelationshipType | enumVal" [value]="type.key">
                {{type.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="relationship-form__box">
          <span>Dla kogo:</span>
          <mat-form-field>
            <input matInput formControlName="secondCharReversed" [matAutocomplete]="auto2" placeholder="Postać 2"
              class="relationship-box__input" spellcheck="false" />
            <mat-autocomplete #auto2="matAutocomplete">
              <mat-option *ngFor="let char of filteredCharacters2 | async" [value]="char.fullName" class="option">
                <img *ngIf="char.profilePic"
                  [src]="'data:image/' + char.profilePic?.extension + ';base64, ' + char.profilePic?.image | sanitizer"
                  class="option__image">
                <span>{{char.fullName}}</span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="firstCharReversed" placeholder="Postać 1"
              class="relationship-box__input" />
          </mat-form-field>
        </div>
      </div>

      <button mat-raised-button [disabled]="relationForm.invalid" (click)="createNewRelation()">Dodaj
        relację</button>

    </form>
  </div>

  <div *ngSwitchCase="'edit'" class="relationships">
    <ng-container *ngIf="selectedCharacter">

      <ul *ngIf="relationshipsList.length > 0">
        <form #relationshipsEditForm="ngForm" class="edit-relationships-form">
          <h2>Dostępne relacje:</h2>
          <div *ngFor="let rel of relationshipsList; index as i">
            <mat-card class="relationship-form__container relationship-form__container--edit">
              <button mat-mini-fab color="warn" (click)="deleteRelation(rel.relationship.relatedCharacter.id)">
                <mat-icon>delete</mat-icon>
              </button>
              <div class="relationship-form__box">

                <span>Postać 1:</span>
                <div class="character-name character-name--one">{{selectedCharacter.fullName}}</div>

                <div class="character-name character-name--two">
                  {{rel.relationship.relatedCharacter.charName + ' ' + rel.relationship.relatedCharacter.charSurname}}
                </div>
              </div>
              <div class="relationship-form__box">
                <span>Kim jest postać 1:
                </span>
                <mat-select [ngModel]="RelationshipType[rel.relationship.relationName]" class="select"
                  [name]="'relationType__' + rel.relationship.relatedCharacter.id"
                  (change)="editRelation(rel.relationship.relatedCharacter.id, $event.target.value, false)">
                  <mat-option *ngFor="let type of RelationshipType | enumVal" [value]="type.key">{{type.value}}
                  </mat-option>
                </mat-select>

                <mat-select [name]="'reverseRelationType__' + rel.relationship.relatedCharacter.id" class="select"
                  [ngModel]="RelationshipType[rel.reverseRelationshipType]"
                  (change)="editRelation(rel.relationship.relatedCharacter.id, $event.target.value, true)">

                  <mat-option *ngFor="let type of RelationshipType | enumVal" [value]="type.key">{{type.value}}
                  </mat-option>
                </mat-select>

              </div>
              <div class="relationship-form__box">
                <span>Dla kogo:
                </span>
                <div class="character-name character-name--two">
                  {{rel.relationship.relatedCharacter.charName + ' ' + rel.relationship.relatedCharacter.charSurname}}
                </div>

                <div class="character-name character-name--one">{{selectedCharacter.fullName}}</div>


              </div>
            </mat-card>
          </div>
        </form>

      </ul>
      <span *ngIf="relationshipsList.length === 0">Brak relacji dla tej postaci.</span>
    </ng-container>

  </div>
</div>
