<mat-sidenav-container class="edit-chapters-menu">
  <mat-sidenav mode="side" opened [ngStyle]="{'background': book?.color, 'color': fontColor}"
    class="edit-chapters-sidenav">
    <div class="chapters-sidenav">
      <button mat-stroked-button [ngStyle]="{'background': book?.color}" [routerLink]="['../']">
        <mat-icon>keyboard_backspace</mat-icon>
        Powrót
      </button>
      <div>
        <h2 class="book-name">{{book?.name}}</h2>
        <div *ngIf="chapters.length > 0" [ngStyle]="{'color': fontColor}">
          <h2>Spis treści</h2>
          <mat-list role="list" *ngFor="let chapter of chapters; index as i" class="chapter-list">
            <a [routerLink]="['./edit-pages']" [queryParams]="{
            id: bookId,
          chapterId: chapter.id,
          color: book?.color
        }">
              <mat-list-item role="listitem" [ngStyle]="{'color': fontColor}" class="chapter-list__item"
                routerLinkActive="chapter-list__item--active" class="ellipsis">
                <div class="ellipsis">{{i+1}}. {{chapter.name}}</div>
              </mat-list-item>
            </a>

          </mat-list>
        </div>

      </div>


    </div>
  </mat-sidenav>

  <mat-sidenav-content style="width: 100%;" [ngStyle]="{'background': bgColor}">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
