<article class="admin-panel admin-panel--login">
  <h2 class="login__info">Aby wejść do panelu admina, zaloguj się:</h2>

  <form [formGroup]="loginForm" class="login__form">

    <mat-form-field class="example-full-width">
      <mat-label>Nazwa użytkownika</mat-label>
      <input matInput value="" formControlName="username">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Hasło</mat-label>
      <input type="password" matInput value="" formControlName="password">
    </mat-form-field>


    <button mat-raised-button color="accent" class="form__submit-button" (click)="onSubmit()"
      [disabled]="loginForm.invalid">Zaloguj</button>
  </form>

</article>
