@import "../../../../../../global_styles/variables.scss";

.book-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 10rem;
  width: 9rem;

  margin: 1rem;
  background: $card-bg;

  &__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;
  }
}
