@import "../../../../../global_styles/variables.scss";
$card-width: 10rem;
$card-height: 14rem;
$title-margin-bottom: -2rem;

.profile-pic {
  background: darkslategrey;
  @include profile-pic;
  margin-right: 1rem;

  &--empty {
    padding-left: 2rem;
    margin-top: 1.5rem;
    margin-bottom: -1.5rem;
  }
}

.character-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 1rem;

  background: $card-bg;
  transition: 0.2s;

  height: 14rem;
  width: 10rem;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: $title-margin-bottom !important;
  }

  &__name {
    margin-left: 0.5rem;
    font-size: small;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
}
.buttons-container {
  display: flex;
}

.button-option {
  margin-left: 2rem;
}

.options-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
}

.admin-panel {
  display: flex;
}

.search-form {
  display: flex;
  align-items: center;

  height: 5rem;

  font-size: initial;
}

.admin-panel-main {
  &__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    height: calc(100vh - #{$navbar-height} - 5rem);
    width: 100%;

    position: fixed;
    overflow-y: scroll;
  }
}
