.characters-card {
  display: flex;
  position: fixed;
}

.info {
  font-size: 0.7rem;
  background: #1d1d1d;
  &__desc {
    margin: 0.5rem 0 0.3rem 0.3rem;

    font-weight: bold;
    font-size: smaller;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
  }

  &__data {
    margin-left: 0.5rem;

    &--death {
      color: rgb(124, 52, 52);
    }
  }
}

.color {
  padding-top: 0.5rem;

  &__container {
    display: flex;

    padding: 0 0.5rem;
  }

  &__item {
    width: 5rem;

    background: grey;
    border-radius: 3px;

    margin: 8px;

    &--eye {
      width: 100%;
    }
  }

  &__icon {
    transform: scale(0.7);
  }
}

.temperament {
  padding-top: 0.5rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.information {
  display: flex;
  flex-direction: column;

  min-width: 50vw;
  height: 85vh;

  padding: 1rem;
  margin-top: 1rem;

  font-size: 0.7rem;

  background: #0000007a;

  overflow-y: scroll;

  &__story {
    margin: auto !important;
  }
}

.story {
  margin: 2rem 0;
  word-break: break-word;
  line-height: 1.5;
  margin: auto;

  &__title {
    font-weight: bold;
    font-size: 0.9rem;
    color: lightslategray;
  }

  &__story-block {
    max-width: 700px;
    word-break: break-word;
    white-space: pre-line;

    margin-bottom: 1rem;
  }
}

.quote {
  max-width: 600px;

  margin: auto;
  border-radius: 3px;
  padding: 1rem;

  background: rgba(0, 0, 0, 0.5);

  &__blockquote {
    line-height: 1.5;
    font-size: 0.6rem;
  }
}

.measurements {
  margin-top: auto;

  &-table-cell {
    text-align: center;
  }
}

.card {
  width: 220px;
  height: fit-content;

  text-align: center;

  margin: 1rem;

  &__type {
    border-radius: 3px;
    padding: 0 0.5rem;
  }

  &__name {
    display: flex;
    align-items: center;

    margin-top: 0.5rem;

    padding: 1px 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 3px;

    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }
  &__info {
    display: flex;
    flex-direction: column;

    text-align: left;

    padding: 0.1rem;
  }

  &__profile-pic {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &--empty {
      color: grey;
    }
  }
}

.name {
  display: flex;
  flex-direction: column;

  &--pseudonim {
    font-size: 0.8rem;
  }
}

.profile-pic {
  display: flex;
  align-items: center;

  max-width: 300px;

  &__image {
    width: 200px;
    height: 250px;
    object-fit: scale-down;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    &--inactive {
      display: none;
    }

    &--active {
      display: block;
    }
  }

  &__button {
    padding: 0.3rem;
    margin: 0.3rem;
    border-radius: 3px;

    font-size: 0.6rem;

    background: rgb(48, 48, 48);
  }
}

.relationships {
  display: flex;
  flex-wrap: wrap;
}

.relation-profile-pic {
  &__image {
    margin: 1rem;
    height: 5rem;
    width: 5rem;

    border-radius: 50%;
    filter: grayscale(100);
  }
}
.relationship {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  border-radius: 3px;

  transition: 0.2s;

  cursor: pointer;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

.flag {
  max-width: 20px;
  max-height: 20px;

  margin-left: 1rem;

  border: 1px solid white;
  border-radius: 3px;
}

.nationality {
  display: flex;
  align-items: center;
}
