@import "../../../../../global_styles/variables.scss";

.main {
  background: black;
  &__bg {
    display: flex;
    height: 100vh;
    width: 100vh;
  }
}

.bg {
  // background-image: url("../../../../../assets/images/bg.jpg");
  background-image: linear-gradient(to top, #61b7ac 0%, #ffd1ff 30%, #ff9a9e 100%);

  object-fit: scale-down;

  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;

  height: calc(100vh - #{$navbar-height});
  width: 100vw;

  &__desc {
    @include font-special;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;

    font-size: 3rem;
    color: white;
    font-weight: bolder;

    background: rgba(0, 0, 0, 0.3);
  }
}
