<div class="stories">
  <div class="stories-box">
    <div class="stories-box--new-story">

      <form class="story-form" [formGroup]="newStoryForm">
        <mat-form-field class="story-form__input">
          <mat-label>Tytuł</mat-label>
          <input matInput required placeholder="Tytuł do historii" spellcheck="false" value="Np. dzieciństwo"
            formControlName="title">
        </mat-form-field>

        <mat-form-field class="story-form__input">
          <mat-label>Opis</mat-label>
          <textarea matInput required placeholder="Historia postaci" spellcheck="false"
            formControlName="desc"></textarea>
        </mat-form-field>

        <button mat-raised-button color="accent" (click)="createNewStory()" [disabled]='newStoryForm.invalid'>
          <mat-icon>library_add</mat-icon>
          Dodaj historię
        </button>

      </form>
    </div>


    <div *ngIf="stories.length > 0" class="boundary" cdkDropList (cdkDropListDropped)="drop($event)">

      <div *ngFor="let story of stories; index as i" class="box" cdkDragBoundary=".boundary" cdkDrag>
        <div class="boundary__placeholder" *cdkDragPlaceholder></div>

        <div class="buttons-box">
          <button mat-mini-fab color="warn" (click)="insertDeleteInfo()" (dblclick)="deleteStory(story.id)">
            <mat-icon>delete</mat-icon>
          </button>

          <button mat-mini-fab (click)="openEditModal(story.title, story.story, story.id)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="story-box">
          <span class="story-box__title" #title>{{story.title}}</span>
          <span class="story-box__desc" #story>{{story.story}}</span>
        </div>
      </div>
    </div>
    <div *ngIf="stories.length === 0">
      Brak.
    </div>
  </div>
</div>
