@import "../../../../../global_styles/variables.scss";

.stories {
  color: inherit;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: calc(100vh - #{$navbar-height});
}

.box {
  cursor: move;

  width: 100%;

  box-sizing: border-box;
  position: relative;

  border: solid 1px #ccc;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

  background: rgb(209, 209, 209);

  color: rgba(0, 0, 0, 0.87);

  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);

  &:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
}

.story-box {
  display: flex;
  flex-direction: column;

  text-align: justify;
  align-items: center;

  line-height: normal;

  &__title {
    font-weight: bold;
  }
}

.boundary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 400px;
  height: 100%;

  max-width: 100%;
  border: dotted #ccc 2px;

  box-sizing: border-box;

  &__placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.stories-box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.story-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;

  font-size: initial;

  &__input {
    width: 100%;

    &--edit textarea {
      height: 12.5rem;
    }
  }
}
