@import "../../../../../global_styles/variables.scss";

.svg {
  fill: initial;

  &__path {
    &--biohazard {
      transform: scale(1.5) translate(-10px, 1px);
    }
  }
}

.text {
  font-weight: bolder;
  font-size: 0.6rem;
}

.panther {
  position: absolute;

  height: 50px;
  width: 50px;

  margin-left: -2rem;
}
