<article class="characters global-section" [ngStyle]="{
  'background': childBackground}">
  <app-characters-menu></app-characters-menu>
  <app-character-card (bgColorFromChild)="bgColorFromChild($event)"></app-character-card>

</article>