@import "../../../../../global_styles/variables.scss";

.profile-pic {
  @include profile-pic;
}

.sidenav {
  width: 15rem;

  background: $accent;
  color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.option {
  margin-top: 0.5rem;
}

.button {
  color: black;
}
