@import "../../../../../../../global_styles/variables.scss";

$gradient1: #420730;
$gradient2: #435548;

.char-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  position: fixed;

  height: calc(100vh - #{$navbar-height});
  width: 100%;

  background-image: linear-gradient(to top, #b9b9b9 0%, #3c3e3f 100%);

  overflow-y: scroll;
}

.character {
  display: flex;
  flex-direction: column;

  margin: 0.5rem;
  padding: 1rem;

  text-align: center;

  transition: 0.2s;

  &__profile-pic {
    height: 100px;
    width: 100px;

    border-radius: 50%;
    border: 2px solid black;

    filter: grayscale(100);

    transition: 0.2s;

    &--empty {
      background: grey;
      background-image: url("../../../../../../../assets/svg/iconmonstr-user-19.svg");

      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &:hover {
      transform: rotate(20deg);
    }
  }

  &__name {
    font-size: larger;
    margin-top: 0.5rem;
  }
}

.rdest {
  &--side {
    opacity: 0.4;
    filter: grayscale(100);
  }
}
