<app-loader [visible]="!charList && loading"></app-loader>

<aside class="global-section" class="char-menu" *ngIf="!loading && charList && charList.length > 0">
  <ng-container *ngFor="let character of charList; index as i">
    <a class="character" [routerLink]="['/char-cards', character.id]" routerLinkActive="router-link-active">
      <img class="character__profile-pic" *ngIf="character.profilePic"
        [src]="'data:image/' + character.profilePic?.extension + ';base64, ' + character.profilePic.image | sanitizer">
      <div *ngIf="!character.profilePic" class="character__profile-pic character__profile-pic--empty">
      </div>
      <span class="character__name">
        <span *ngIf="character.characterType === 'MAIN'"> <img src="../../../../../assets/svg/rdest.svg" class="rdest">
        </span>
        <span *ngIf="character.characterType === 'SIDE'"> <img src="../../../../../assets/svg/rdest.svg"
            class="rdest rdest--side">
        </span>
        {{ character.fullName }}
      </span>
    </a>
  </ng-container>
</aside>
<div *ngIf="charList && charList.length === 0 && !loading">
  Brak postaci.
</div>
